<section  class="signup-form">
  <form  fxLayoutGap= "10px" fxLayout="column" fxLayoutAlign= "center center" #f="ngForm" (ngSubmit)="submitting(f)" >
    <mat-form-field>
      <input 
      type="email" 
      matInput 
      placeholder="type your email" 
      ngModel
       name="mail"
       email
       required
       #emailInput="ngModel">
       <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
       <mat-error *ngIf="!emailInput.hasError('required')">Invalid</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel = "Should be 6 characters atleast">
      <input type="password"
       matInput 
       placeholder="type your password"
        ngModel 
        name="pass"
        required
        minlength="6"
        #pw = "ngModel">
        <mat-hint align="end">{{pw.value?.length}}/6</mat-hint>
        <mat-error>Has to be atleast 6 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" ngModel required name="dates">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error></mat-error>
    </mat-form-field>
    <button  [disabled]="f.invalid" type="submit" mat-raised-button color="primary" id="but1">Submit</button> 
  </form>
</section>


<!--<section id="container">
  <div id="child1" class="child"></div>
  <div id="child2" class="child"></div>
  <div id="child3" class="child"></div>
</section>
-->
