<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Evelyn Template</title>
    
</head>
<body>
 <button (click)= "logout()">Logout</button>
 <a class="button button-sm button-shadow" href="#">Signup</a>
<!-- <ul>
 <li *ngFor="let recieved of recievedfromService">
 {{ recieved.name }}
 </li>
</ul>
                      <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Cool User</mat-card-title>
                          <mat-card-subtitle>User </mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="{{photo}}" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                           YOU ARE SEEING THIS BECAUSE YOU ARE LOGGED IN
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button>
                        </mat-card-actions>
                      </mat-card>
                      <h3>Hello</h3>
                <h1>{{email}} i am x</h1>
                <h1>{{displayName}} i am fb one</h1>
                 -->

            

            <section fxLayout="column" fxLayoutAlign= "center start" >
               <div>
                
                 <img src="{{photo}}" alt="Photo of a Shiba Inu">
                 <h1>{{email}}</h1>
               </div>
               <div>
                <!-- <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Cool User</mat-card-title>
                    <mat-card-subtitle>User </mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="{{photo}}" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                     YOU ARE SEEING THIS BECAUSE YOU ARE LOGGED IN
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                  </mat-card-actions>
                </mat-card> -->
               </div>
            </section>

            <div>
                <mat-tab-group>
                    <mat-tab label="Popular products"> Content 1 </mat-tab>
                    <mat-tab label="Newest additions"> 
                        <mat-grid-list cols="2" rowHeight="2:1"  gutterSize="16px" fxLayout>
                            <mat-grid-tile>1</mat-grid-tile>
                            <mat-grid-tile>2</mat-grid-tile>
                            <mat-grid-tile>3</mat-grid-tile>
                            <mat-grid-tile>4</mat-grid-tile>
                          </mat-grid-list>
                    
                    </mat-tab>
                    
                  </mat-tab-group>
                  
                  
              
            </div>
        

        
   
    
</body>

</html>

