

.hero-inner{
    background-color: #00fcd4;
}

.example-card {
    max-width: 200px;
    
  }
  
  .example-header-image {
   
    background-size: cover;
  }

  .example-container {
    
    border: 1px solid #555;
  }

  mat-grid-tile {
    background: lightblue;
    margin-top: 500px;
  }