<!--<app-products>
  
</app-products>
<button mat-icon-button color="primary">
   <mat-icon> code</mat-icon>
</button>
-->

<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
     <app-sidenav-list (sidenav_toggle)="sidenav.close()">
         
     </app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (sidenavistoggle)="sidenav.toggle()">

        </app-header>
        <main>
                
        <router-outlet></router-outlet>
        
        </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
